body {
    background-color:#00FFFF;
}
h1 {
    text-align:center;
    font-size:50px;
    color:#0000FF;
}
#box {
    background-color:white;
    width:600px;
    border:solid #AFAFAF 1px;
    margin:auto;
    min-height:200px;
}
#counter {
    text-align:right;
}
textarea {
    border-top:solid #7A7A7A 1px;
    border-bottom:solid #7A7A7A 1px;
    border-left:none;
    border-right:none;  
    width:596px;
    margin-top:50px;
}
#messagearea {
    margin-top:-17px;
}
p {
    border-top:solid #AFAFAF 1px;
    padding:2px;
    background: url("../bilder/NO.png");
    background-repeat:no-repeat;
    background-position:right;
}
footer {
    text-align:left;
}
#button {
    float:right;
}