body {
    background-color:#00FFFF;
}
h1 {
    text-align:center;
    font-size:50px;
    color:#0000FF;
}
#box {
    background-color:white;
    width:600px;
    border:solid #AFAFAF 1px;
    margin:auto;
    min-height:110px;
}
#counter {
    text-align:right;
}
textarea {
    border-top:solid #7A7A7A 1px;
    border-bottom:solid #7A7A7A 1px;
    border-left:none;
    border-right:none;  
    width:596px;
    min-height:100px;
    clear:both;
}
#messagearea {
    margin-top:-17px;
    background-color:#33CCFF;
    clear:both;
}
p {
    border-top:solid #AFAFAF 1px;
    padding:2px;
    min-height:50px;
}
footer {
    font-size:12px;
    display:block;
    clear:both;
    float:right;
}
.delete {
    background: url("../bilder/NO.png");
	width:35px;
	height:31px;
	display:block;
	float:right;
}
.time {
    background: url("../bilder/time.png");
	width:35px;
	height:31px;
	display:block;
	float:right;
}