.required {
}

.valid {
    border-color: green;
    color: green;
}

.invalid {
    border-color: red;
    color: red;
}

#wrapper {
    margin:0 auto;
    width: 300px;
}
input {
    display:block;
}